@font-face {
  font-family: "ED Nimpkish-Regular";
  src: url("../assets/font/ED_Nimpkish-Regular.otf");
  font-style: normal;
  font-weight: 400;
}


/* Color variables */
:root {
  --pink-light-01: #F48B99;
  --pink-light-02: #FED7D8;
  --pink-dark-01: #B83556;
  --pink-dark-02: #E46A7F;
  --bg-white: #FAF7F0;
  --white-01: #FFFCF6;
  --grey-outline-01: #DFDCD5;
  --pink-light-outline-02: #BE888A;
}

/* Spacing variables */
:root {
  // my = top-bottom spacing; mx = left-right spacing
  /* Spacing for layout A -- wider */
  --my-A: 1.5rem; 
  --mx-A: 1rem; 
  /* Spacing for layout A -- thinner*/
  --my-B: 2.5rem;
  --mx-B: 2rem;

  /* Override bootstrap variables */
  --bs-gutter-x: 2rem; //used in .container
}
